
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
	url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
	url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
	url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: "Lato", sans-serif;
	color: #424551;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width:767px){
	[class*="__container"]{
		max-width: 500px;
	}
}

@media (max-width:504px){
	[class*="__container"]{
		max-width: 400px;
	}
}

/* Адаптивна сітка

@media (max-width:1200px){
	[class*="__container"]{
		max-width: 970px;
	}
}

@media (max-width:992px){
	[class*="__container"]{
		max-width: 750px;
	}
}

@media (max-width:767px){
	[class*="__container"]{
		max-width: 450px;
	}
}

@media (max-width:480px){
	[class*="__container"]{
		max-width: none;
	}
}

*/


.page__block-1 {
	margin-bottom: 180px;
}

.page__block-2,
.page__block-3 {
	margin-bottom: 120px;
}

@media (max-width:991px){
	.page__block-1,
	.page__block-2,
	.page__block-3 {
		margin-bottom: 100px;
	}
}

@media (max-width:768px){
	.page__block-1,
	.page__block-2,
	.page__block-3 {
		margin-bottom: 70px;
	}
}

/* хедер  */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: rgb(249, 213, 202);
}

.header__container {
	display: flex;
	align-items: center;
	gap: 60px;
	padding: 20px 15px 20px 15px;
}

@media (max-width:768px){
	.header__container {
		gap: 25px;
	}
}

@media (max-width:504px){
	.header__container {
		display: flex;
		flex-direction: column;
	}
}

.header__menu {
	flex-grow: 1;
}

@media (max-width:504px){
	.header__menu {
		
	}
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

@media (max-width:504px){
	.menu__list {
		column-gap: 10px;
	}
}

.menu__link {
	font-weight: 700;
	font-size: 14px;
}

.menu__link:hover {
	text-decoration: underline;
}

.actions {
	display: flex;
	align-items: center;
	gap: 36px;
	flex-wrap: wrap;
	flex-shrink: 0;
}

@media (max-width:768px){
	.actions {
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
	}
}

.actions__login {
	font-weight: 700;
	background: url('../img/Person.svg') left no-repeat; 
	padding-left: 24px;
	line-height: 1.6;
}


/*    блок 1   */

.block-1 {
	position: relative;
	padding: 200px 0px 80px 0px;
	background: linear-gradient(55.95deg, #ef403a31 0%, #cb4e0651 100%);
}

@media (max-width:504px){
	.block-1 {
		padding: 250px 0px 80px 0px;
	}
}

.block-1__container {
	position: relative;
	z-index: 2;
}

.block-1__body {
	margin-bottom: 190px;
}

@media (max-width:991px){
	.block-1__body {
		margin-bottom: 110px;
	}
}

@media (max-width:768px){
	.block-1__body {
		margin-bottom: 50px;
	}
}

.body-block-1 {
	display: flex;
}

@media (max-width:768px){
	.body-block-1 {
		display: flex;
		flex-direction: column;
	}
}

.body-block-1__content {
	padding-right: 40px;
	flex: 0 1 50%;
	align-self: center;
}

@media (max-width:1116px){
	.body-block-1__content {
		padding-right: 20px;
	}
}

@media (max-width:768px){
	.body-block-1__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


.body-block-1__play {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	display: inline-flex;
	align-items: center;
	gap: 16px;
	position: relative;
}

.body-block-1__play::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation: play-circle 1s infinite ease alternate;
}

@keyframes play-circle {
	0% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(1.8);
	}
}

.body-block-1__play::before {
	content: "";
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A url('../img/Polygon.svg') center no-repeat;
}

.body-block-1__play:hover::after {
	animation-play-state: paused;
}

.body-block-1__play:not(:last-child) {
	margin-bottom: 40px;
}

@media (max-width:830px){
	.body-block-1__play:not(:last-child) {
		margin-bottom: 20px;
	}
}

.body-block-1__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}

@media (max-width:991px){
	.body-block-1__title {
		font-size: 58px;
	}
}

@media (max-width:896px){
	.body-block-1__title {
		font-size: 48px;
	}
}

@media (max-width:768px){
	.body-block-1__title {
		font-size: 30px;
		text-align: center;
		max-width: 600px;
	}
}

.body-block-1__title:not(:last-child) {
	margin-bottom: 60px;
}

@media (max-width:830px){
	.body-block-1__title:not(:last-child) {
		margin-bottom: 30px;
	}
}

.body-block-1__buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

@media (max-width:830px){
	.body-block-1__buttons {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}

@media (max-width:768px){
	.body-block-1__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 24px;
		margin-bottom: 40px;
	}
}

@media (max-width:504px){
	.body-block-1__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.body-block-1__buttons:not(:last-child) {
	margin-bottom: 40px;
}

.body-block-1__media {
	flex: 0 1 50%;
}

.body-block-1__image {
	max-width: 107.8%;
	transform: translate(7.8%,0px);
}

@media (max-width: 1200px){
	.body-block-1__image {
		max-width: 100%;
	}
}

@media (max-width: 504px){
	.body-block-1__image {
		max-width: 80%;
	}
}

/* */

.block-1__advantages {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

@media (max-width:991px){
	.block-1__advantages {
		column-gap: 0px;
		row-gap: 40px;
	}
}

.item-advantages {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #1E212C;
}

@media (max-width:991px){
	.item-advantages {
		flex: 1 0 50%;
		justify-content: center;
	}
}

@media (max-width:504px){
	.item-advantages {
		flex: 1 0 100%;
		justify-content: center;
	}
}


.item-advantages__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}

@media (max-width:768px){
	.item-advantages__value {
		font-size: 30px;
	}
}


.item-advantages__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
}

.advantages__dot {
	background: #FF3F3A;
	flex: 0 0 8px;
	height: 8px;
	border-radius: 50%;
}

@media (max-width:991px){
	.advantages__dot {
		display: none;
	}
}

/* */

.decor-block-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width:991px){
	.decor-block-1 {
		display: none;
	}
}

.decor-block-1__item {
	position: absolute;
}

.decor-block-1__item--1 {
	background: url('../img/1.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.5%;
}

.decor-block-1__item--2 {
	background: url('../img/2.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
}

.decor-block-1__item--3 {
	background: url('../img/3.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	bottom: 45%;
	left: 40%;
}

.decor-block-1__item--4 {
	background: url('../img/4.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}

.decor-block-1__item--5 {
	background: url('../img/1.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 8%;
	right: 4%;
	transform: rotate(135deg);
}

.decor-block-1__item--6 {
	background: url('../img/5.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom: 18%;
	right: -1.5%;
}


/*    блок 2   */

.block-2 {
	position: relative;
}

.block-2__container {
	position: relative;
	z-index: 3;
}

.body-block-2 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

@media (max-width:991px){
	.body-block-2 {
		flex-direction: column-reverse;
	}
}

.body-block-2__media {
	flex: 0 1 50%;
}

.body-block-2__image {
	max-width: 116%;
}

@media (max-width:991px){
	.body-block-2__image {
		max-width: 100%;
	}
}

.body-block-2__content {
	flex: 0 1 50%;
	align-self: flex-start;
	padding-left: 220px;
}

@media (max-width:991px){
	.body-block-2__content {
		display: flex;
		flex-direction: column;
		padding-left: 0px;
		align-items: center;
		margin: 0 auto;
	}
}

.body-block-2__title {
	color: #1E212C;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 8px;
}

@media (max-width:991px){
	.body-block-2__title {
		align-items: center;

	}
}

.body-block-2__title:not(:last-child) {
	margin-bottom: 40px;
}

.body-block-2__list:not(:last-child) {
	margin-bottom: 48px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.list .list___item {
	line-height: 160%;
	padding-left: 32px;
	min-height: 18px;
	background: url("../img/check.svg") 0 5px no-repeat;
}

.body-block-2__button {
	cursor: pointer;
}

.body-block-2__button:not(:last-child) {
	margin-bottom: 40px;
}

@media (max-width:991px){
	.body-block-2__button {
		margin-bottom: 40px;
	}
}

.decor-block-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width:991px){
	.decor-block-2 {
		display: none;
	}
}


.decor-block-2__item {
	position: absolute;
}

.decor-block-2__item--1 {
	background: url('../img/7.svg') 0 0 no-repeat;
	width: 287px;
	height: 287px;
	top: 48.7%;
	left: 93.6%;
}

.decor-block-2__item--2 {
	background: url('../img/9.svg') 0 0 no-repeat;
	width: 250px;
	height: 250px;
	top: 10.9%;
	left: 0;
}

/*   блок 3  */

.body-block-3 {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width:1160px){
	.body-block-3 {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width:504px){
	.body-block-3 {
		align-items: start;
	}
}

.body-block-3__content {
	flex: 0 1 50%;
	padding-right: 170px;
	align-self: flex-start;
}

@media (max-width:1160px){
	.body-block-3__content {
		flex: 0 1 100%;
		padding-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
}

@media (max-width:504px){
	.body-block-3__content {
		align-items: center;
	}
}

.body-block-3__title {
	color: #1E212C;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 8px;
}

@media (max-width:1160px){
	.body-block-3__title {
		align-items: center;
		text-align: center;
	}
}

.body-block-3__title:not(:last-child) {
	margin-bottom: 48px;
}

.body-block-3__text:not(:last-child) {
	margin-bottom: 32px;
}

.body-block-3__text {
	line-height: 160%;
	padding-right: 20px;
}

@media (max-width:991px){
	.body-block-3__text {
		text-align: center;
	}
}

.body-block-3__firms:not(:last-child) {
	margin-bottom: 32px;
}

@media (max-width:1160px){
	.body-block-3__firms {
		margin-bottom: 40px;
	}
}

.firms {
	display: flex;
	gap: 40px;
}

@media (max-width:504px){
	.firms {
		gap: 20px;
		flex-wrap: wrap;
	}
}

.body-block-3__media {
	flex: 0 1 50%;
}

.body-block-3__image {
	max-width: 116%;
	transform: translate(-13%,0px);
}

@media (max-width:1160px){
	.body-block-3__image {
		transform: translate(0,0px);
		max-width: 100%;
	}
}

